{% extends 'base-dashboard.html.twig' %}

{% block subtitle %}Accueil{% endblock %}

{% block content %}
    <div class="row mb-4">
        <div class="col-md-3">
            <h4>Ajouter un ami</h4>
            {{ form(searchUser) }}
        </div>
    </div>
    <div class="row">
        {% for friend in friends %}
            <div class="col-sm-3">
                <div class="card shadow">
                    <div class="card-header">
                        <h4 class="card-title">{{ friend.firstname }} {{ friend.lastname }}</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <a href="" class="btn btn-outline-primary">
                                <i class="fas fa-envelope fa-2x"></i>
                                Envoyer un message
                            </a>
                            <a href="" class="btn btn-outline-danger mt-4">
                                <i class="fas fa-times-circle fa-2x"></i>
                                Supprimer des amis
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="navigation">
        {{ knp_pagination_render(friends) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('find_users') }}
{% endblock %}
