{% extends 'base-dashboard.html.twig' %}

{% block content %}

    <div class="row">
        {% for user in users %}
            <div class="col-sm-3">
                <div class="card shadow">
                    <div class="card-header">
                        <h4 class="card-title">{{ user.firstname }} {{ user.lastname }}</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <a href="{{ path('send_friend_request', {id: user.id}) }}" class="btn btn-outline-primary" data-collection-holder-class="friends">
                                <i class="fas fa-envelope fa-2x"></i>
                                Envoyer une demande d'ami
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

