{% extends 'base-dashboard.html.twig' %}

{% block content %}
    <div class="container-fluid profileBody">

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 blueCard" >
                <div class="container-fluid">
                    <div class="row">
                        {% if user.imageName is defined and user.imageName is not null %}
                            <div class="col-md-12 imageDiv">
                                <img class="rounded-circle" alt="100x100" height="150px" width="150px" src="{{ asset('images/users/'~user.imageName) }}" data-holder-rendered="true">
                            </div>
                        {% else %}
                            <div class="col-md-12 imageDiv">
                                <img class="rounded-circle" alt="100x100" height="150px" width="150px" src="{{ asset('images/users/user-image.jpg') }}" data-holder-rendered="true">
                            </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="fullName">{{ user.lastname }} {{ user.firstname }} </h2>
                        </div>

                    </div>

                    <div class="row" >
                        <div class="col-md-12">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-6 tableContainer">

                                        {% if user.active==1 %}
                                            <p class="accountState">Account : <span class="badge badge-success" style="font-size: 15px">Active</span></p>
                                        {% endif %}
                                        {% if user.active==0 %}
                                            <p class="accountState">Account : <span class="badge badge-danger" style="font-size: 18px">Inactive</span></p>
                                        {% endif %}

                                        <table class="table table-bordered">
                                            <tbody>
                                            <tr>
                                                <td>Firstname</td>
                                                <td> {{ user.firstname }} </td>
                                            </tr>
                                            <tr>
                                                <td>Lastname</td>
                                                <td> {{ user.lastname }} </td>
                                            </tr>
                                            <tr>
                                                <td>Email</td>
                                                <td> {{ user.email }} </td>
                                            </tr>
                                            <tr>
                                                <td>Address</td>
                                                <td> {{ user.address }} {{ user.city }} </td>
                                            </tr>
                                            {% if user.siret is not null %}

                                                <tr>
                                                    <td>Siret</td>
                                                    <td> {{ user.siret }} </td>
                                                </tr>

                                            {% endif %}

                                            {% if user.siren is not null %}

                                                <tr>
                                                    <td>Siren</td>
                                                    <td> {{ user.siren }} </td>
                                                </tr>

                                            {% endif %}

                                            {% if user.premium ==1 %}

                                                <tr>
                                                    <td>Account type</td>
                                                    <td> premium </td>
                                                </tr>

                                            {% endif %}
                                            </tbody>
                                        </table>

                                        <a class="btn btn-info btn-round btn-lg" href="{{ path('profile_edit') }}">Modifier</a>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
{% endblock %}