<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cluster - {% block subtitle %}{% endblock %}</title>
    {% block stylesheets %}
        {{  encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class="{% block bodyclass %}{% endblock %}" id="{% block bodyid %}{% endblock %}">
{% block body %}{% endblock %}
{% block javascripts %}
    {{  encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
